.black-box{
    display: flex;
    background: black;
    width: 100%;
    color: white;
    padding-left: 20px;
}
.list{
    padding-left: 20px;
    border-bottom: 1px solid gray;
   
}
.modal{
    margin-top:20px;
    padding: 20px;
    background-color: #eee;
    text-align: left;
}
